.container{

}

.task{
    margin-bottom: 12px;
    border-radius: 8px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btnContainer{
    display: flex;
    gap: 20px;
}
.wrapperStatus{
    display: flex;
}
.newTask{
    border: 1px solid blue;
}
.inWorkTask{
    border: 1px solid yellow;
}
.doneTask{
    border: 1px solid red;
}