.container svg{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row-reverse;
    align-items: center;
}