.modalWindow {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(21, 12, 12, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
z-index: 100;


}
/*body{*/
/*    overflow: hidden;*/
/*}*/

.container {
    width: 320px;
    height: 568px;
    border: 2px solid green;
    background-color: white;
    /*padding: 45px;*/
    border-radius: 20px;
    box-sizing: border-box;
    /*margin: 10px;*/
    display: flex;
    justify-content: center;


}
.header{
    display: flex;
    justify-content: flex-end;
    /*position: absolute;*/
}
.header svg{
    transform: rotate(45deg);
    cursor: pointer;
   margin-right: -270px;
    position: absolute;

}
